<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsb/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsb/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/" class="brand-wrap">
                <img src="/assetsb/imgs/theme/logo.svg" class="logo" alt="SHOE RACK">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="addproducts">Add Products</a>
                        <a href="productlist">Product List</a>
                        <a href="page-products-grid-2.html">Product cards</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="orderlist">Order list</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="userList">User list</a>
                        
                    </div>
                </li>
                </li> 
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Banner Management</span>
                    </a>
                    <div class="submenu">
                        <a href="banner">Add Banner & Change Banner</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon & Offer</span>
                    </a>
                    <div class="submenu">
                        <a href="coupons">Add Coupons</a>
                        <a href="catoffer">Category Offers</a>
                        <a href="productoffer">Product Offers</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="categories"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="usermsgs"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Messages</span>
                    </a>
                </li>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            
            <div class="col-nav ms-auto">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                  
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                       
                            <a class="dropdown-item text-danger" href="logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    
                </div>
                <div>
                    
                    <a href="/admin/addproducts" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example">
                            <thead>
                                <tr>
                                    <th class="text-start">Product</th>
                                    <th class="text-sm-end ps-4">Category</th>
                                    <th class="text-sm-end ps-4">Price</th>
                                    <th class="text-sm-end">Status</th>
                                    <th class="text-end">Brand</th>
                                    <th class="text-end">stock</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(products.length > 0) { %>
                                    <% for(let i = 0; i < products.length; i++) { %>
                                        <%products.forEach(product => {
                                            let totalQuantity = 0;
                                            product.sizes.forEach(size => {
                                                totalQuantity += size.quantity;
                                            });
                                            product.totalQuantity = totalQuantity;
                                        });%>
                                        <tr>
                                            <td>
                                                <div class="row align-items-center">
                                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/<%=products[i].images_url[0]%>" class="img-sm img-thumbnail" alt="Item">
                                                            </div>
                                                            <div class="info">
                                                                <h6 class="mb-0"><%=products[i].productName%></h6>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-sm-end ps-4"><%=products[i].category.name%></td>
                                            <td class="text-sm-end ps-4"><%=products[i].salePrice%></td>
                                            <td class="text-sm-end">
                                                <% if(products[i].is_active) { %>
                                                    <span class="badge rounded-pill alert-success">Active</span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill alert-danger">Disabled</span>
                                                <% } %>
                                            </td>
                                            <td class="text-end"><%=products[i].Brand%></td>
                                            <td class="text-end"><%= products[i].totalQuantity %></td>
                                            <td class="text-end">
                                                <% if(products[i].is_active) { %>
                                                    <a href="productaction/<%=products[i]._id %>/0" class="btn btn-sm font-sm rounded btn-danger">
                                                        <i class="material-icons md-edit"></i>Unlist
                                                    </a>
                                                <% } else { %>
                                                    <a href="productaction/<%=products[i]._id %>/1" class="btn btn-sm font-sm rounded btn-success">
                                                        <i class="material-icons md-edit"></i>Addlist
                                                    </a>
                                                <% } %>
                                                <a href="editproduct/<%=products[i]._id%>" class="btn btn-sm font-sm btn-light rounded">Edit</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                     
                        <%if(message){%>
                               <script>
                                   document.addEventListener('DOMContentLoaded', function() {
                                       confirm();
                                   });
                                   </script>  
                            
                       <%}%>

                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, SHOERACK- Ecommerce PROJECT.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>

    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#example');
           
    
    })</script> -->
     
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#example');
    
    })
    </script>
    <script src="/assetsb/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsb/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsb/js/vendors/select2.min.js"></script>
    <script src="/assetsb/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsb/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsb/js/main.js" type="text/javascript"></script>
    <script src="/assets/js/userValidate.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>