<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 9747 055 702</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great Shoes up to 20% off <a href="/shop">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Shoes, save up 35% off <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                           
                            <ul>
                                <%if(user){%>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i>Account<i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/useraccount">Account</a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </li>
                                <%}else{%>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                <%}%>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SHOE RACK" src="assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopcart">
                                        <img alt="SHOE RACK" src="assets/imgs/theme/icons/icon-cart.svg">
                                       
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home <i></i></a></li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    
                                    
                                    <li><a href="/useraccount">Account<i class=""></i></a>
                                        
                                    </li>
                                    <li><a href="#">More<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/useraccount">My Account</a></li>
                                            <li><a href="/purchaseguide">Purchase Guide</a></li>
                                            <li><a href="/policy">Privacy Policy</a></li>
                                            <li><a href="/terms">Terms of Service</a></li>
                                          
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 97470 -55702 </p>
                    </div>
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="ShoeRack" src="assets/imgs/theme/icons/icon-heart.svg">
                                  
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopcart">
                                    <img alt="SHOE RACK" src="assets/imgs/theme/icons/icon-cart.svg">
                                   
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                   
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/useraccount">Account</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">contact</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/useraccount">My Account</a></li>
                                    <li><a href="/register">login/register</a></li>
                                    <li><a href="/purchaseguide">Purchase Guide</a></li>
                                    <li><a href="/policy">Privacy Policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) - 97470- 55702</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <main class="main single-page">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> More
                    <span></span> About us
                </div>
            </div>
        </div>
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                        <h1 class="font-heading mb-40">
                            We are Building The Destination For Getting Things Done
                        </h1>
                        <p>My project, Shoe Rack, aims to revolutionize the way you organize and display your shoe collection.</p>
                        <p>With Shoe Rack, you'll experience an innovative solution that ensures your shoes are stored efficiently and stylishly. Say goodbye to clutter and welcome an organized, elegant space for your footwear collection.</p>
                    </div>
                    
                    <div class="col-lg-6">
                        <img src="/<%=banner[0].image%>" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="pt-25 wow fadeIn animated">
            <div class="container">
                <div class="row mb-50 align-items-center">
                    <div class="col-md-6">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
                        <h2 class="mb-15 wow fadeIn animated">Top team of experts</h2>
                        <p class="text-grey-3 wow fadeIn animated">Top premium brands of shoes bring together a blend of quality, style, and comfort that elevate your fashion sense. Discover the perfect fit for your feet!</p>
                    </div>
                    
                   
                </div>
                <div class="position-relative">
                    <div class="row wow fadeIn animated">
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="/<%=banner[2].image%>" alt="" class="border-radius-10 mb-30 hover-up" style="width: 250px; height: 360px;">
                                <h4 class="fw-500 mb-0">Nike</h4>
                                <p class="fw-400 text-brand mb-10"></p>
                                
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="/<%=banner[3].image%>" alt="" class="border-radius-10 mb-30 hover-up" style="width: 250px; height: 360px;">
                                <h4 class="fw-500 mb-0">Adidas</h4>
                                
                                
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="/<%=banner[4].image%>" alt="" class="border-radius-10 mb-30 hover-up" style="width: 250px; height: 360px;">
                                <h4 class="fw-500 mb-0">New Balance</h4>
                               
                               
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="/<%=banner[5].image%>" alt="" class="border-radius-10 mb-30 hover-up" style="width: 250px; height: 360px;">
                                <h4 class="fw-500 mb-0">Puma</h4>
                                
                               
                            </div>
                        </div>
                        <!--col-->
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="section-padding">
            <div class="container pb-25">
                <h3 class="section-title mb-20 wow fadeIn animated text-center"><span>Featured</span>Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <%for(let i=0;i<brands.length;i++){%>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/<%=brands[i].image%>" alt="">
                        </div>
                        <%}%>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Maradu Road, Street 32, Kochi
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 9747055702
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/purchaseguide">Delivery Information</a></li>
                            <li><a href="/policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/shopcart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/useraccount">Track My Order</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
            
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           
       
        </section>
       
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2023, <strong class="text-brand">THE SHOE RACK</strong> -Ecommerce PROJECT</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="https://www.linkedin.com/in/athul-tv-912779290/" target="_blank">ATHULTV.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>