<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<style>
    .coupon-code {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #336699; /* Change the color as needed */
    background-color: #f0f0f0; /* Change the background color as needed */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
</style>

</head>

<body>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 97470- 55702</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great Shoes up to 10% off <a href="/shop">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Shoes, save up 25% off today <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                           
                            <ul>
                                <%if(user){%>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i><%=user.name%><i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/useraccount">Account</a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </li>
                                <%}else{%>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                <%}%>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/" method="post">
                                <select name="cat" class="select-active">
                                <%for(let i=0;i<category.length;i++){%>
                                    <%if(category[i].status){%>
                                    <option><%=category[i].name%></option>  
                                    <%}%>
                                <%}%>
                               </select>
                                <input type="text" name="search" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <!-- <span class="pro-count blue">4</span> -->
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopcart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                        
                                    </a>
                                   


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home <i></i></a></li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                   
                                  
                                    <li><a href="/useraccount">Account<i class=""></i></a>
                                       
                                    </li>
                                    <li><a href="#">More<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/useraccount">My Account</a></li>
                                            <li><a href="/purchaseguide">Purchase Guide</a></li>
                                            <li><a href="/policy">Privacy Policy</a></li>
                                            <li><a href="/terms">Terms of Service</a></li>
                                          
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 97470 - 55702</p>
                    </div>
                    
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                 
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopcart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                </a>
                               
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                   
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                              
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/useraccount">Account</a>
                                
                            </li>
                            
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/useraccount">My Account</a></li>
                                    <li><a href="/register">login/register</a></li>
                                    <li><a href="/purchaseguide">Purchase Guide</a></li>
                                    <li><a href="/policy">Privacy Policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) - 9747 - 055702</a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">AVailable Coupons</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to see</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you need to Apply select the coupons &amp; Coupon section.</p>
                                <form method="post">
                                    <%for(let i=0;i<coupons.length;i++){%>
                                    <div class="form-group">
                                        <span class="coupon-code">"<%= coupons[i].couponcode %>"</span>
                                        <span><%=coupons[i].description%></span>
                                    </div>
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post" action="/applycoupon">
                                    <div class="form-group">
                                        <input type="text" name="code" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" type="submit">Apply Coupon</button>
                                    </div>
                                    
                                </form>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
                <%if(cart.length > 0){%>
                    
        <form action="" id="orderForm" method="post">  
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                    <a type="submit" href="/address-form?from=checkout" class="btn btn-small button-add-to-cart col-md-2 mb-10">Add New Address</a>

                </div>
                <div class="row">
                  
                    <div class="col-md-6 row">
                       
                        <%if(user.address.length>0){%> 
                            <%for(let i=0;i<user.address.length;i++){%>
                        <div class="card col-md-3 ml-3 mr-3" style="width: 18rem; height: fit-content;">
                            <div class="card-body">
                              <h5 class="card-title"><%=user.address[i].addressName%></h5>
                              <h6 class="card-subtitle mb-2 text-muted"><%=user.address[i].house%></h6>
                              <p class="card-text">Name : <%=user.address[i].fname%></p>
                              <p class="card-text">City : <%=user.address[i].city%></p>
                              <p class="card-text">Phone : <%=user.address[i].phone%></p>
                              <p class="card-text">Landmark : <%=user.address[i].landmark%></p>
                              <p class="card-text">Pincode : <%=user.address[i].pincode%></p>
                              <a href="/editaddress?i=<%=i%>" class="card-link">Edit</a>
                              <div class="form-check">
                                <input class="form-check-input" required type="radio" name="selectedAddress" value="<%= i %>" id="address<%= i %>" onclick="updateSelectedAddressId(`<%= i %>`)">

                                <label class="form-check-label" for="address<%= i %>">
                                    Select Address
                                </label>
                            </div>
                            </div>
                          </div>
                       <%}}else{%>

                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Attention!</h4>
                            <p>Please add a delivery address to place the order.</p>
                        </div>
                        <%}%>

                    </div>
                    <div class="col-md-6">

                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                        let offerDiscount = 0;
                                        let totalAmount = 0;
                                        let beforeDiscount = 0;
                                        let totalDiscount = 0;
                                        
                                        for (let i = 0; i < cart.length; i++) {
                                            let price = cart[i].productId.discountedPrice > 0 ? cart[i].productId.discountedPrice : cart[i].productId.salePrice;
                                            totalAmount += price * cart[i].quantity;
                                            beforeDiscount += cart[i].productId.salePrice * cart[i].quantity;
                                            offerDiscount = beforeDiscount - totalAmount;
                                        %>
                                        <% totalDiscount = offerDiscount + discount %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="/<%= cart[i].productId.images_url[0] %>" alt="#"></td>
                                            <td>
                                                <h5><a href="/productdetails/<%=cart[i].productId._id%>"> <%=cart[i].productId.productName %></a></h5> <span class="product-qty">x <%= cart[i].quantity %></span>
                                                <input type="hidden" name="orderProducts" value="<%=cart.products %>">
                                            </td>
                                            <td>₹ <%= cart[i].productId.salePrice * cart[i].quantity%></td>
                                        </tr>
                                        <%}%>
                                        
                                        <tr>
                                            <th>SubTotal</th>
                                            <td  class="product-subtotal" colspan="2">₹ <%= beforeDiscount %></td>
                                            <input type="hidden" name="totalAmount" value="<%= totalAmount %>">
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>AppliedCoupon</th>
                                            <td colspan="2"><em><%=couponcode%></em></td>
                                            <input type="hidden" name="couponcode" value="<%=couponcode%>">
                                        </tr>
                                        <tr>
                                            <th>Discount</th>
                                            <td colspan="2"><em>₹<%=totalDiscount.toFixed(2)%></em></td>
                                            <input type="hidden" name="discount" value="<%= discount+offerDiscount %>">
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹ <%=Math.ceil(totalAmount -discount) %></span></td>
                                            <input type="hidden" name="afterdiscount" value="<%=Math.ceil(totalAmount -discount)%>">
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-fill-out btn-block mt-30" onclick="submitForm(event,'cod')">Place Order(COD)</button>
                            <button id="rzp-button1" class="btn btn-fill-out btn-block mt-30">Pay Now (Online)</button>
                            <% if (user.wallet > Math.ceil(totalAmount - discount)) { %>
                                <input type="text" id="walletInput" name="wallet" value="wallet" hidden>
                                <button type="submit" class="btn btn-fill-out btn-block mt-30" onclick="submitForm(event)">Wallet Pay</button>
                            <% } %>
                        </form>   
                        
                        </div>
                    </div>
                </div>
            </div>
       
        </section>
        <%}else{%>
     <h4>No Items To checkout</h4>
            <%}%>
        <script>
            function submitForm(event,paymentType) {
              event.preventDefault();
              if (paymentType === 'cod') {
                document.getElementById('orderForm').submit();
            // If COD is selected, remove the wallet input
          
           }
              document.getElementById('orderForm').submit();
            }
          </script>
          


    </main>

   
    
<script>
const totalAmountValue = document.querySelector('input[name="totalAmount"]').value;
const couponCodeValue = document.querySelector('input[name="couponcode"]').value;
const discountValue = document.querySelector('input[name="discount"]').value;
const afterDiscountValue = document.querySelector('input[name="afterdiscount"]').value;

        let selectedAddressId = 0;
      
        function updateSelectedAddressId(addressId) {
          selectedAddressId = addressId;
        }
      
          document.addEventListener("DOMContentLoaded", function () {
          const requestOptions = {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              amount: "50000"
            })
          };
      
          var rzp1;
      
          // Function to initiate payment
          function initiatePayment(orderId, paymentStatus) {
            let order = JSON.stringify(orderId);
            console.log(order);
            var options = {
              "key": "rzp_test_NMHcP2rfDLJsmB",
              "amount":  Math.ceil(order.amount),
              "currency": "INR",
              "name": "The Shoe Rack",
              "description": "Test Transaction",
              "order_id": orderId.id,
              "handler": function (response) {
                window.location.href = `/onlinepayment?orderId=${orderId.id}&status=Success`;
              },
              "theme": {
                "color": "#3399cc"
              }
            };
      
            rzp1 = new Razorpay(options);
      
            rzp1.on('payment.failed', function (response) {
              console.log("fail");
            //   alert(response.error.code);
            //   alert(response.error.description);
            //   alert(response.error.source);
            //   alert(response.error.step);
            //   alert(response.error.reason);
            //   alert(response.error.metadata.order_id);
            //    alert(response.error.metadata.payment_id);
            //   window.location.href = `/onlinepayment?orderId=${orderId.id}&status=Failed`;
            });
      
            rzp1.open();
          }
       
          // Add a click event listener to the "Pay Now (Online)" button
          document.getElementById('rzp-button1').addEventListener('click', function () {
            // Make the fetch request to create a new orderId
            event.preventDefault();
            fetch(`/onlinepayment?addressId=${selectedAddressId}&totalAmount=${totalAmountValue}&couponcode=${couponCodeValue}&discount=${discountValue}&afterdiscount=${afterDiscountValue}`, requestOptions)
              .then(response => response.json())
              .then(data => {
                const orderId = data.razorOrder;
                const paymentStatus = data.paymentStatus; // Assuming you have paymentStatus in the response
                // Call the initiatePayment function with the orderId and selectedAddressId
                initiatePayment(orderId, paymentStatus);
              })
              .catch(error => {
                console.error("Fetch error:", error);
              });
          });
        });
      </script>
      
      
      
    

      <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Maradu Road, Street 32, Kochi
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 9747055702
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/purchaseguide">Delivery Information</a></li>
                            <li><a href="/policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/shopcart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/useraccount">Track My Order</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
            
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           
       
        </section>
       
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2023, <strong class="text-brand">THE SHOE RACK</strong> -Ecommerce PROJECT</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="https://www.linkedin.com/in/athul-tv-912779290/" target="_blank">ATHULTV.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>