<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-privacy-policy.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:22 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 9747 055 702</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great Shoes up to 20% off <a href="/shop">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Shoes, save up 35% off <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                           
                            <ul>
                                <%if(user){%>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i>Account<i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/useraccount">Account</a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </li>
                                <%}else{%>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                <%}%>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="SHOE RACK" src="assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopcart">
                                        <img alt="SHOE RACK" src="assets/imgs/theme/icons/icon-cart.svg">
                                       
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home <i></i></a></li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    
                                    
                                    <li><a href="/useraccount">Account<i class=""></i></a>
                                        
                                    </li>
                                    <li><a href="#">More<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/useraccount">My Account</a></li>
                                            <li><a href="/purchaseguide">Purchase Guide</a></li>
                                            <li><a href="/policy">Privacy Policy</a></li>
                                            <li><a href="/terms">Terms of Service</a></li>
                                          
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 97470 -55702 </p>
                    </div>
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="ShoeRack" src="assets/imgs/theme/icons/icon-heart.svg">
                                  
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopcart">
                                    <img alt="SHOE RACK" src="assets/imgs/theme/icons/icon-cart.svg">
                                   
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                   
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/useraccount">Account</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">contact</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/useraccount">My Account</a></li>
                                    <li><a href="/register">login/register</a></li>
                                    <li><a href="/purchaseguide">Purchase Guide</a></li>
                                    <li><a href="/policy">Privacy Policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) - 97470- 55702</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> More
                    <span></span> Privacy policy
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="single-page pr-30">
                            <div class="single-header style-2">
                                <h2>Privacy Policy</h2>
                                <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                    <span class="post-by">By <a href="#">Athul</a></span>
                                    <span class="post-on has-dot">9 November 2023</span>
                                    <span class="time-reading has-dot">8 mins read</span>
                                  
                                </div>
                            </div>
                            <div class="single-content">
                                <h4>Welcome to Shoe Rack’s Privacy Policy</h4>
                                <p>Welcome to Shoe Rack's Privacy Policy. We are committed to protecting your privacy and ensuring the security of your personal information. This policy explains how we collect, use, disclose, and safeguard your data as a user or visitor of our premium branded shoe selling site.</p>
                                <h4>Contact Information</h4>
                                <p>Contact Address: 562 Maradu Road, Street 32, Kochi</p>
                                <p>Phone: (+91) 9747055702</p>
                                <p>Hours: 10:00 - 18:00, Mon - Sat</p>
                            
                                <h4>The Type of Personal Information We Collect</h4>
                                <p>At Shoe Rack, we collect various types of information from our users and visitors, including usernames, email addresses, IP addresses, payment details, survey responses, and more. This information helps us provide you with tailored services and improve our website experience.</p>
                            
                                <h4>How We Collect Personal Information</h4>
                                <p>We collect your personal data directly when you register with us, make purchases, subscribe to newsletters, or interact with our site. Additionally, we may collect information automatically as you navigate through our website.</p>
                            
                                <h4>Personal Information We Collect About You From Others</h4>
                                <p>In some cases, we collect information about you from third-party sources, such as payment providers or service providers like Google or Facebook. This information enhances our understanding of your preferences and helps us deliver better services.</p>
                            
                                <h4>How We Use Personal Information</h4>
                                <p>We use your personal information to fulfill contracts, improve our services, verify your identity, respond to support queries, and for marketing purposes with your consent, among other lawful purposes.</p>
                            
                                <h4>When We Disclose Your Personal Information</h4>
                                <p>We may disclose your information to affiliates, service providers, regulatory authorities, legal advisers, and other parties as required by law or to protect our rights and interests.</p>
                            
                                <h4>Where We Transfer and/or Store Your Personal Information</h4>
                                <p>Your data may be processed and stored in Australia, Mexico, and the US. We work with subcontractors and service providers who maintain high standards of data security compliance.</p>
                            
                                <h4>How We Keep Your Personal Information Secure</h4>
                                <p>We employ various security measures, including secure servers, access controls, encryption, and authentication mechanisms, to protect your personal information.</p>
                            
                                <h4>Accessing Your Personal Information</h4>
                                <p>You can access and correct some of your personal information by logging into your account. For other requests or account closure, contact our privacy champion using the provided contact details.</p>
                            
                                <h4>Marketing Choices Regarding Your Personal Information</h4>
                                <p>If you've consented to receive marketing communications from us, you can opt-out at any time. Additionally, you have choices regarding cookies and similar technologies used on our site.</p>
                            
                                <h4>Cookies and Web Analytics</h4>
                                <p>We use cookies and web analytics to track certain anonymous information about your visit to our site. These details help us enhance your browsing experience and tailor our services.</p>
                            
                                <h4>Information About Children</h4>
                                <p>Our website is not intended for children under 16 years old. Parents or guardians must monitor and supervise the use of our site by minors.</p>
                            
                                <h4>Information You Make Public or Give to Others</h4>
                                <p>If you voluntarily share personal information on public forums or social media platforms, we are not liable for how others use or manage that data.</p>
                            
                                <h4>How Long We Keep Your Personal Information</h4>
                                <p>We retain your data as long as necessary to provide services, comply with legal obligations, resolve disputes, and protect our business interests.</p>
                            
                                <h4>Updates to This Policy</h4>
                                <p>We periodically update our privacy policy to align with legal requirements and our privacy practices. We'll notify you of significant changes, and the latest version will always be available on this page.</p>
                            
                                <h4>Contact Us</h4>
                                <p>If you have questions about our privacy practices or your personal information, please contact our privacy champion at the provided address or email.</p>
                            
                                <p>We appreciate your trust in Shoe Rack and your commitment to understanding how we manage your personal information. Your privacy matters to us.</p>
                            
                                <h4>Rights in the European Economic Area</h4>
                                <p>If you're a user in the European Economic Area, certain additional rights regarding your personal information apply. You have the right to access, rectify, port, erase, or restrict processing of your data, among other rights, subject to legal limitations.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-area">
                            
                            <!--Widget categories-->
                            <div class="sidebar-widget widget_categories mb-40">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Categories</h5>
                                </div>
                                <div class="post-block-list post-module-1 post-module-5">
                                    <ul>
                                        <%for(let i=0;i<category.length;i++){%>
                                          
                                        <li class="cat-item cat-item-2"><a href="#"><%=category[i].name%></a></li>
                                        
                                        <%}%>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!--Widget latest posts style 1-->
                            <div class="sidebar-widget widget_alitheme_lastpost mb-20">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Trending Now</h5>
                                </div>
                                <div class="row">
                                    <div class="col-12 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="#">
                                                <img src="/<%=banner[0].image%>" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h4 class="post-title mb-10 text-limit-2-row">The litigants on the screen are not actors </h4>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="#">
                                                <img src="/<%=banner[1].image%>" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">Water Partners With Rag &amp; Bone To Consume</h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="#">
                                                <img src="/<%=banner[2].image%>" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">The loss is not all that surprising</h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="#">
                                                <img src="/<%=banner[3].image%>" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">We got a right to pick a little fight, Bonanza </h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                                            <a href="#">
                                                <img src="/<%=banner[4].image%>" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row">My entrance exam was on a book of matches </h6>
                                            <div class="entry-meta meta-13 font-xxs color-grey">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Widget ads-->
                            <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none animated">
                                <img src="/<%=banner[5].image%>" alt="">
                                <div class="banner-text">
                                    <span>Women Zone</span>
                                    <h4>Save 17% on <br>Office Dress</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                            <!--Widget Tags-->
                            <div class="sidebar-widget widget_tags mb-50">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title">Popular tags </h5>
                                </div>
                                <div class="tagcloud">
                                    <a class="tag-cloud-link" href="/shop">beautiful</a>
                                    <a class="tag-cloud-link" href="/shop">Hot</a>
                                    <a class="tag-cloud-link" href="/shop">Best Sell</a>
                                    <a class="tag-cloud-link" href="/shop">New</a>
                                    <a class="tag-cloud-link" href="/shop">loving</a>
                                    <a class="tag-cloud-link" href="/shop">Sports</a>
                                    <a class="tag-cloud-link" href="/shop">fighting </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Maradu Road, Street 32, Kochi
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 9747055702
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/purchaseguide">Delivery Information</a></li>
                            <li><a href="/policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/shopcart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/useraccount">Track My Order</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
            
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           
       
        </section>
       
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2023, <strong class="text-brand">THE SHOE RACK</strong> -Ecommerce PROJECT</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="https://www.linkedin.com/in/athul-tv-912779290/" target="_blank">ATHULTV.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-privacy-policy.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:22 GMT -->
</html>