<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-fullwidth.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">
    <style>
        .product-rating {
    display: flex;
    align-items: center;
}

.star-rating {
    font-size: 24px; /* Adjust the size of the stars */
}

.star {
    color: #ffd700; /* Set the color of the stars */
}


    </style>
</head>

<body>
    <!-- Quick view -->
    
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 9747 - 055702</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great shoes up to 20% off <a href="/shop">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Shoes, save up 35% off <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                           
                            <ul>
                                <%if(user){%>
                                <li>
                                    <a class="language-dropdown-active" href="/useraccount"> <i class="fi-rs-world"></i>Account<i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/useraccount">Account</a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </li>
                                <%}else{%>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                <%}%>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/" method="post">
                                <select name="cat" class="select-active">
                                    <%for(let i=0;i<category.length;i++){%>
                                        <%if(category[i].status){%>
                                        <option value="<%=category[i]._id%>"><%=category[i].name%></option>  
                                        <%}%>
                                    <%}%>
                               </select>
                                <input type="text" name="search" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="ShoeRack" src="/assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/shopcart">
                                        <img alt="ShoeRack" src="/assets/imgs/theme/icons/icon-cart.svg">
                                       
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home <i></i></a></li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li><a href="shop-grid-right.html">Brands<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                           
                                            <%for(let i=0;i<brands.length;i++){%>
                                            <li><a href="/brandsearch?brand=<%=brands[i].name%>"><%=brands[i].name%></a></li>
                                            <%}%>
                                           
                                        </ul>
                                    </li>
                                  
                                    <li><a href="/useraccount">Account<i class=""></i></a>
                                        
                                    </li>
                                    <li><a href="#">More<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/useraccount">My Account</a></li>
                                            <li><a href="/purchaseguide">Purchase Guide</a></li>
                                            <li><a href="/policy">Privacy Policy</a></li>
                                            <li><a href="/terms">Terms of Service</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 97470 - 55702 </p>
                    </div>
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                   
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/shopcart">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                   
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                   
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                <ul class="dropdown">
                                    <li><a href="/">Home 1</a></li>
                                    
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/useraccount">Account</a>
                                
                            </li>
                            
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/useraaccount">My Account</a></li>
                                    <li><a href="/register">login/register</a></li>
                                    <li><a href="/purchaseguide">Purchase Guide</a></li>
                                    <li><a href="/policy">Privacy Policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact">Our location</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) -9747- 055702</a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand"><%=products.length%></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>Low to High<i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                             <%if(msg=='fromhome'){%>
                                                <li><a href="/sorting?by=1">Price: Low to High</a></li>
                                                <li><a href="/sorting?by=-1">Price: High to Low</a></li>
                                             <%}else if(msg=='fromcat'){%>
                                                <li><a href="/categorysearch?catId=<%= products.length > 0 ?products[0].category: '' %>&by=1">Price: Low to High</a></li>
                                                <li><a href="/categorysearch?catId=<%= products.length > 0 ? products[0].category : '' %>&by=-1">Price: High to Low</a></li>

                                                <%}else if(msg=='frombrand'){%>
                                                    <li><a href="/brandsearch?brand=<%= products.length > 0 ? products[0].Brand : '' %>&by=1">Price: Low to High</a></li>
                                                    <li><a href="/brandsearch?brand=<%= products.length > 0 ? products[0].Brand : '' %>&by=-1">Price: High to Low</a></li>

                                                    <%}else{%>
                                                        <li><a href="/searchsort?searchTerm=<%= products.length > 0 ? msg : '' %>&by=1&cat=<%= products.length > 0 ? products[0].category : '' %>">Price: Low to High</a></li>
                                                        <li><a href="/searchsort?searchTerm=<%= products.length > 0 ? msg: '' %>&by=-1&cat=<%= products.length > 0 ? products[0].category : '' %>">Price: High to Low</a></li>
                                                        <%}%>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <%if(msg=='fromhome'){%>
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span>Price<i class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                         </div>
                                         <div class="sort-by-dropdown">
                                            <ul class="categories">
                                                <li><a href="/sorting?start=0&end=4000">₹0-₹4000</a></li>
                                                <li><a href="/sorting?start=4000&end=6000">₹4000-₹6000</a></li>
                                                <li><a href="/sorting?start=6000&end=8000">₹6000-₹8000</a></li>
                                                <li><a href="/sorting?start=8000&end=10000">₹8000-₹10000</a></li>
                                                <li><a href="/sorting?start=10000&end=0">10000₹+</a></li>
                                            </ul>
                                         <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <%if(products.length>0){%>
                                <%for(let i=0;i< products.length;i++){%>
                                    <%if(products[i].is_active){%>
                            <div class="col-lg-3 col-md-4">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productdetails/<%=products[i]._id %>">
                                                <img class="default-img" src="/<%=products[i].images_url[0]%>" alt="">
                                                <img class="hover-img" src="/<%=products[i].images_url[1]%>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                           
                                               <%if(user){%>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addtowishlist?productId=<%=products[i]._id%>"><i class="fi-rs-heart"></i></a>
                                               <%}%>
                                          
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot"><%=products[i].tags%></span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productdetails/<%=products[i]._id %>"><%=products[i].Brand%></a>
                                        </div>
                                        <h2><a href="/productdetails/<%=products[i]._id %>"><%=products[i].productName%></a></h2>
                                        <%if(products[i].discountedPrice>0){%>
                                            
                                            <span>
                                                <span><%=products[i].category.discount%>%</span>
                                            </span>
                                    
                                            <div class="product">
                                                <% if(products[i].avgrating && products[i].avgrating > 0) { %>
                                                    <!-- Display filled stars based on avgrating -->
                                                    <div class="star-rating">
                                                        <% for (let j = 0; j < products[i].avgrating; j++) { %>
                                                            <span class="star">&#9733;</span>
                                                        <% } %>
                                                        <% for (let j = 0; j <5- products[i].avgrating; j++) { %>
                                                            <span class="star">&#9734;</span>
                                                        <% } %>
                                                    </div>
                                                <% } else { %>
                                                    <!-- Display blank stars (empty placeholders) when avgrating is not available or zero -->
                                                    <div class="star-rating">
                                                        <% for (let j = 0; j < 5; j++) { %>
                                                            <span class="star">&#9734;</span>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%=products[i].discountedPrice%></span>
                                                <span class="old-price">₹<%=products[i].salePrice%></span>
                                            </div>
                                             
                                        <%}else{%>
                                            <div class="product">
                                                <% if(products[i].avgrating && products[i].avgrating > 0) { %>
                                                    <!-- Display filled stars based on avgrating -->
                                                    <div class="star-rating">
                                                        <% for (let j = 0; j < products[i].avgrating; j++) { %>
                                                            <span class="star">&#9733;</span>
                                                        <% } %>
                                                        <% for (let j = 0; j <5- products[i].avgrating; j++) { %>
                                                            <span class="star">&#9734;</span>
                                                        <% } %>
                                                    </div>
                                                <% } else { %>
                                                    <!-- Display blank stars (empty placeholders) when avgrating is not available or zero -->
                                                    <div class="star-rating">
                                                        <% for (let j = 0; j < 5; j++) { %>
                                                            <span class="star">&#9734;</span>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%=products[i].salePrice%></span>
                                            </div>
                                        <%}%>
                                        
                                    </div>
                                </div>
                            </div>
                            <%}}}%>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <section >
       
    </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Maradu Road, Street 32, Kochi
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 9747055702
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="/"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="/"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/purchaseguide">Delivery Information</a></li>
                            <li><a href="/policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms &amp; Conditions</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/shopcart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/useraccount">Track My Order</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
            
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           
       
        </section>
       
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2023, <strong class="text-brand">THE SHOE RACK</strong> -Ecommerce PROJECT</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="https://www.linkedin.com/in/athul-tv-912779290/" target="_blank">ATHULTV.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
    <script src="/assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-fullwidth.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>